<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}MMORPG Доска Объявлений{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <h1>MMORPG Доска Объявлений</h1>
        <nav>
            <ul>
                <li><a href="{% url 'index' %}">Главная</a></li>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'logout' %}">Выйти</a></li>
                    <li><a href="{% url 'profile' %}">Профиль</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}">Войти</a></li>
                    <li><a href="{% url 'signup' %}">Регистрация</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>

</body>
</html>
